{% extends 'index.html' %} 
{% load static %} 
{% block title %} Store {% endblock title %} 
{% block body %}
<section class="bg-second-color py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-12">
                <h1 class="font-georgia-italic">Acerca de nosotros</h1>
                <p class="font-georgia-italic">
                    Dulces Kiomi es un emprendimiento personal que nace el 2015. 
                    Elaboramos productos de manera tradicional, de receta casera, con ingredientes frescos y de calidad.
                    Nuestro objetivo es mostrar a nuestros clientes que la pastelería artesanal tiene una apariencia y un sabor único ya que no es elaborado de forma industrial.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Close Banner -->
<!-- Start Section -->
<section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1 font-kaleko">Our Services</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                <h2 class="h5 mt-4 text-center font-times-roman">Envío a domicilio</h2>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
                <h2 class="h5 mt-4 text-center font-times-roman">Pago electronico</h2>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
                <h2 class="h5 mt-4 text-center font-times-roman">Precios economicos</h2>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                <h2 class="h5 mt-4 text-center font-times-roman">Servicio personalizado</h2>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
{% endblock body %} 
{% block js %}
{% endblock js %}
