@font-face {
  font-family: "Stem-Bold";
  src: url("../fonts/Stem-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia-Italic";
  src: url("../fonts/georgia-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Times-Europa-Roman";
  src: url("../fonts/times-europa-roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {font-family: "Kaleko 205 W00 Heavy";
  /*src: url("63d372c4d1ae0bfb795e2600f375d617.eot");  IE9*/
  /*src: url("63d372c4d1ae0bfb795e2600f375d617.eot?#iefix") format("embedded-opentype");  IE6-IE8 */
  /*src: url("63d372c4d1ae0bfb795e2600f375d617.woff2") format("woff2");  chrome、firefox */
  /*src: url("63d372c4d1ae0bfb795e2600f375d617.woff") format("woff");  chrome、firefox */
  /*src: url("63d372c4d1ae0bfb795e2600f375d617.ttf") format("truetype");  chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  /*src: url("63d372c4d1ae0bfb795e2600f375d617.svg#Kaleko 205 W00 Heavy") format("svg"); iOS 4.1-*/


  src: url("../fonts/Kaleko-205-W00-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia-Bold";
  src: url("../fonts/georgia-bold-2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* *************** Custome Properties *************** */
:root {
  --first-color: #4d121a;
  --second-color: #b0e0d9;
  --third-color: #ffddb9;
  --fourth-color: #f1f2f0;
  --black-color: #000000;
  --text-color: #290d18;
  --font: "Stem-Bold", sans-serif;
  --second-font: "Georgia-Italic", sans-serif;
  --third-font: "Times-Europa-Roman", sans-serif;
	--fourth-font: "Kaleko 205 W00 Heavy";
	--fifth-font: "Georgia-Bold";
}
/* *************** Reset *************** */

/* ********** Utils ********** */
.font-stem-bold {
	font-family: var(--font) !important;
}
.font-georgia-italic {
	font-family: var(--second-font) !important;
  font-weight: 900 !important;
}
.font-times-roman {
	font-family: var(--third-font) !important;
  font-weight: 700 !important;
}
.font-kaleko {
	font-family: var(--fourth-font) !important;
}
.font-georgia-bold {
	font-family: var(--fifth-font) !important;
}

.bg-first-color {
  background-color: var(--first-color);
}

.bg-second-color {
  background-color: var(--second-color);
}

.bg-green {
  background-color: #b0e0d9;
}

.bg-white {
  background-color: #fff;
}

.section {
  margin: 3rem 0;
}

.box-element {
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}
.thumbnail {
  width: 100%;
  height: 200px;
  -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}
.product {
  border-radius: 0 0 4px 4px;
}
#cart-icon {
  width: 25px;
  display: inline-block;
  margin-left: 15px;
}
#cart-total {
  display: block;
  text-align: center;
  color: #fff;
  background-color: red;
  width: 20px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
}
.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
  margin-top: 10px;
}
.btn {
  border-radius: 0;
  font-family: var(--font) !important;
}
.row-image {
  width: 100px;
}
.form-field {
  width: 250px;
  display: inline-block;
  padding: 5px;
}
.cart-row {
  display: flex;
  align-items: flex-stretch;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
.quantity {
  display: inline-block;
  font-weight: 700;
  padding-right: 10px;
}
.chg-quantity {
  width: 12px;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  transition: 0.1s;
}
.chg-quantity:hover {
  opacity: 0.6;
}
.hidden {
  display: none !important;
}
/* ********** Components ********** */

/* Store Card Product component */
.card-product {
  margin-bottom: 24px;
}
.page-item {
  z-index: 999;
  cursor: pointer;
}

/*Product-detail*/
body {
  background-color: #ebe5df !important;
}

.card {
  border: none;
  overflow: hidden;
}

.thumbnail_selected {
  border: 1px solid #000;
}

.thumbnail_images ul {
  list-style: none;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.thumbnail_images ul li {
  margin: 4px;
  padding: 2px;
  cursor: pointer;
  transition: all 0.5s;
}

.thumbnail_images ul li:hover {
  border: 1px solid #000;
}

.main_image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
}

.content p {
  font-size: 12px;
}

.right-side {
  position: relative;
}

.buttons .btn {
  height: 50px;
  width: 150px;

}

/* Carrito de compras */

.shopping-cart {
  padding-bottom: 50px;
  font-family: "Montserrat", sans-serif;
}

.shopping-cart.dark {
  background-color: #f6f6f6;
}

.shopping-cart .content {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: white;
}

.shopping-cart .block-heading {
  padding-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.shopping-cart .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  opacity: 0.7;
}

.shopping-cart .dark .block-heading p {
  opacity: 0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
  margin-bottom: 1.2rem;
  color: #3b99e0;
}

.shopping-cart .items {
  margin: auto;
}

.shopping-cart .items .product {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.shopping-cart .items .product .info {
  padding-top: 0px;
  text-align: center;
}

.shopping-cart .items .product .info .product-name {
  font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info {
  font-size: 14px;
  margin-top: 15px;
}

.shopping-cart .items .product .info .product-name .product-info .value {
  font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-cart .items .product .info .price {
  margin-top: 15px;
  font-weight: bold;
  font-size: 22px;
}

.shopping-cart .summary {
  border-top: 2px solid #5ea4f3;
  background-color: #f7fbff;
  height: 100%;
  padding: 30px;
}

.shopping-cart .summary h3 {
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type) {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text {
  font-size: 1em;
  font-weight: 600;
}

.shopping-cart .summary .price {
  font-size: 1em;
  float: right;
}

.shopping-cart .summary button {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .shopping-cart .items .product .info {
    padding-top: 25px;
    text-align: left;
  }

  .shopping-cart .items .product .info .price {
    font-weight: bold;
    font-size: 22px;
    top: 17px;
  }

  .shopping-cart .items .product .info .quantity {
    text-align: center;
  }
  .shopping-cart .items .product .info .quantity .quantity-input {
    padding: 4px 10px;
    text-align: center;
  }
}

.horizontal-line {
  width: 95%;
  height: 1px;
  background-color: rgb(122, 121, 121);
  opacity: 0.5;
  margin-left: 12px;
}

.boxed {
  padding: auto;
  width: 40px;
  vertical-align: middle;
  padding-top: 5px;
}

/* checkout payment methods */

.rounded {
  border-radius: 1rem;
}

.nav-pills .nav-link {
  color: #555;
}

.nav-pills .nav-link.active {
  color: white;
}

input[type="radio"] {
  margin-right: 5px;
}

.bold {
  font-weight: bold;
}

.nav-item a:hover:after {
  width: 100%;
}
