{% extends 'index.html' %}
{% load static %}
{% block title %} Inicio {% endblock title %}
{% block body %}

<div id="payment">
     <hr>

     <div v-if="status=='approved'" class="alert alert-success" role="alert">
          {% if user.is_authenticated %}
          <b> Su pago se ha aprobado. <br>
               Revise el resumen de su pedido en su correo: {{request.user.email}} </b> <br>
          <a href="/car" type="button" class="btn btn-primary btn-lg btn-block"> <b> Regresar al carro </b></a>
          {% else %}
          <b> Su pago se ha aprobado. <br>
               Revise el resumen de su pedido en su correo: {{email}} </b> <br>
          <a href="/car" type="button" class="btn btn-primary btn-lg btn-block"> <b> Regresar al carro </b></a>
          {% endif %}
     </div>

     <div v-if="status=='pending'" class="alert alert-warning" role="alert">
          {% if user.is_authenticated %}
          <b> Su pago esta pendiente de confirmación, el vendedor se comunicara con usted al confirmar el pago.
               <br>
               Revise el resumen de su pedido en su correo: {{request.user.email}} </b> <br>
          <a href="/car" type="button" class="btn btn-primary btn-lg btn-block"> <b> Regresar al carro </b></a>
          {% else %}
          <b> Su pago esta pendiente de confirmación, el vendedor se comunicara con usted al confirmar el
               pago.
               <br>
               Revise el resumen de su pedido en su correo: {{email}} </b> <br>
          <a href="/car" type="button" class="btn btn-primary btn-lg btn-block"> <b> Regresar al carro </b></a>
          {% endif %}
     </div>

     <div v-if="status=='rejected'" class="alert alert-danger" role="alert">
          <b> Su pago fue rechazado. </b> <br>
          <a href="/car" type="button" class="btn btn-primary btn-lg btn-block"> <b> Regresar al carro </b></a>
     </div>
</div>
{% endblock body %}
{% block js %}
<!-- main Vue -->
<script type="module" src="{% static 'js/components/Payment.js' %}"></script>
<script type="module" src="{% static 'js/api.js' %}"></script>
{% endblock js %}